div, footer, header, main, nav, section {
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

a, a:hover, a:active, a:focus, button, button:hover, button:active, button:focus
{
	outline: 0px solid transparent;
}

body{
	display:flex;
	margin:0px;
	padding:0px;
	flex-direction:row;
}

.column{
	width:270px;
	height: 5000px;
}

.column>p{
	color: white;
	user-select: none;
}

.page{
	display: flex;
	padding: 30px 20px 0;
	margin: 0px;
	width: 935px;
	height: 5000px;
	flex-direction:column;
}

h1{
	color:#262626
	font-weight: 300
	font-size: 28px;
	line-height: 32px;
	margin: -5px 0 -6px;
}
header{
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 30px;
	margin-bottom: 44px;
	flex-direction: row;
}

.icon{
    top: -7px;
    left: -7px;
    width: 150px;
    height: 150px;
    margin-top: 14px;
    margin-left: 18px;
    margin-bottom: 18px;
    margin-right: 60px;
    border-radius: 50%;
    cursor: pointer;
}
.icon>img{
	width: 100%;
	height: 100%;
	border-radius:50%;
}
.info{
	flex-direction: column;
}
.name_and_follow_row{
	flex-direction: row;
}
.shakespeare{
	margin-bottom: 12px;
	align-items:center;
	flex-shrink: 1;
	min-width: 0;
}
#follow{
	margin-left: 20px;
	box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    border-radius: 5px;
	background-color: #3897f0;
}

#follow>a{
	color: white;
	text-decoration: none;
}

.description{
	display:block;
	font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;

}

.img_row{
	flex-direction: row;
	margin-bottom: 28px;
}

#im1-1, #im1-2, #im1-3, #im2-1, #im2-2, #im2-3, #im3-1, #im3-2, #im3-3,
#im4-1, #im4-2, #im4-3, #im5-1, #im5-2, #im5-3, #im6-1, #im6-2, #im6-3,
#im7-1, #im7-2, #im7-3, #im8-1, #im8-2, #im8-3, #im9-1, #im9-2, #im9-3{
	margin-right:28px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width:293px;
	height:293px;
	background-color: transparent;
	border: none;
	padding: 0px;
}

#im1-1>img, #im1-2>img, #im1-3>img, #im2-1>img, #im2-2>img, #im2-3>img, 
#im3-1>img, #im3-2>img, #im3-3>img, #im4-1>img, #im4-2>img, #im4-3>img, 
#im5-1>img, #im5-2>img, #im5-3>img, #im6-1>img, #im6-2>img, #im6-3>img, 
#im7-1>img, #im7-2>img, #im7-3>img, #im8-1>img, #im8-2>img, #im8-3>img, 
#im9-1>img, #im9-2>img, #im9-3>img{
	width:293px;
	height:293px;
}

.img_row:last-child{
	margin-right:0px;
}
ul{
	display: flex;
	margin-top: 10px;
	margin-bottom: 20px;
	list-style-type: none;
	padding: 0;
	flex-direction: row;
}

li{
	margin-right: 40px;
}