div, footer, header, main, nav, section {
	font-family: sans-serif;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

body{
	display:flex;
	margin:0px;
	padding:0px;
	flex-direction:row;
}

a, a:hover, a:visited{
	text-decoration: none;
	color: black;
	cursor: default;
}

.column{
	width:270px;
	height: 2500px;
}

.column>p{
	color: white;
	user-select: none;
	padding-bottom: 200px;
}

.page{
	display: flex;
	padding: 30px 20px 0;
	margin: 0px;
	width: 935px;
	flex-direction:column;
}

h1{
	color:#262626
	font-weight: 300
	font-size: 28px;
	line-height: 32px;
	margin: -5px 0 -6px;
}
header{
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 30px;
	margin-bottom: 44px;
	flex-direction: row;
}

#icon{
    top: -7px;
    left: -7px;
    width: 150px;
    height: 150px;
    margin-top: 14px;
    margin-left: 18px;
    margin-bottom: 18px;
    margin-right: 60px;
    border-radius: 50%;
    cursor: pointer;
}
#icon>img{
	width: 100%;
	height: 100%;
	border-radius:50%;
}

#ear{
    height: 44px;
    margin-top: 53px;
    margin-left: 60px;
	position: absolute;
	cursor: pointer;
}

.info{
	flex-direction: column;
}
.name_and_follow_row{
	flex-direction: row;
}
.shakespeare{
	margin-bottom: 12px;
	align-items:center;
	flex-shrink: 1;
	min-width: 0;
}
#follow{
	margin-left: 20px;
	box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 600;
    padding: 5px 9px;
    text-align: center;
    border-radius: 5px;
	background-color: #3897f0;
}

#follow>a{
	color: white;
	text-decoration: none;
}

.description{
	display:block;
	font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;

}

.img_row{
	flex-direction: row;
	margin-bottom: 28px;
}

#b1-1, #b1-2, #b1-3, #b2-1, #b2-2, #b2-3, #b3-1, #b3-2, #b3-3,
#b4-1, #b4-2, #b4-3, #b5-1, #b5-2, #b5-3, #b6-1, #b6-2, #b6-3,
#b7-1, #b7-2, #b7-3, #b8-1, #b8-2, #b8-3{
	margin-right:28px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width:293px;
	height:293px;
	background-color: transparent;
	border: none;
	padding: 0px;
}

#im1, #im2, #im3, #im4, #im5, #im6, #im7, #im8, #im9, 
#im10, #im11, #im12, #im13, #im14, #im15, #im16, #im17, #im18, 
#im19, #im20, #im21, #im22, #im23, #im24{
	width:293px;
	height:293px;
}

.img_row:last-child{
	margin-right:0px;
}
ul{
	display: flex;
	margin-top: 10px;
	margin-bottom: 20px;
	list-style-type: none;
	padding: 0;
	flex-direction: row;
}

li{
	margin-right: 40px;
}